<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("CALCULATOR", "Form", "Calculator", new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <hr/>
            <p>&copy; @DateTime.Now.Year - Software University Foundation</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>