@using BlogCS.Models;
@model LoginViewModel
@{ ViewBag.Title = "Login"; }

<div class="container">
    <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
        @Html.AntiForgeryToken()
        <h4>&emsp;Use a local account to log in:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-checkbox" })
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
                <input type="submit" class="btn btn-default" value="Sign In" />
            </div>
        </div>
        <div class="form-referrer">
            @Html.ActionLink("Register as a new user", "Register")
        </div>
        }
</div>

@section Scripts { @Scripts.Render("~/bundles/jqueryval") }